################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Warsztat_3/.vs/Warsztat_3/v16
